<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main-menu</title>
    <link rel="stylesheet" href="../assets/CSS files/Index_style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">

</head>
<body>
    <header>
        <h1>Kitab mağazası</h1>
    </header>
    <br>
    <br>
    <div class="navigation-menu">
    <nav >
    <ul class="nav-links" >
<li class="nav-link" >
<a href="#" target="blank" style="text-decoration: none;">ANA SƏHİFƏ</a>
</li> <br>
<li class="nav-link">
    <a href="#" target="blank" style="text-decoration: none;">HAQQIMIZDA</a>
</li> <br>
<li class="nav-link">
    <a href="#" target="blank" style="text-decoration: none;">KATEQORİYALAR</a>
</li> <br>
<li class="nav-link">
    <a href="#" target="blank" style="text-decoration: none;">MƏHSULLAR</a>
</li> <br>
<li class="nav-link">
    <a href="#" target="blank" style="text-decoration: none;">ƏLAQƏ</a>
</li> <br>
</ul>
</nav>
</div>
<div class="Content">
<div class="image-books">
<img  src="../assets/images/books.png" height="350px" width="300px">
</div>


<div classs="main-container">
<p>
    Çoxları hesab edir ki, yay tətilini kitabsız təsəvvür etmək qeyri-mümkündür.Amma məncə əksinə, məhz payız əsl mütaliə fəslidir.
<br>
<br>
    Yayın qızmar günəşi artıq yavaş-yavaş əl-ayağını yığışdırıb öz evinə dönür. Əvəzində isə sanki boyumuzu qıdıqlayan, köynəyimizin yaxasından dolub sanki sığal çəkirmiş kimi oxşayan mehriban küləklər qarşılayır.Düzdür,bəzən bu küləklər də qəzəblənir, hirsini bizə tökür,göz yaşlarını yağış edib üstümüzə axıdır,bütüb şıltaqlığını nümayiş etdirib sevgimizdən pay alır.Yarpaqlar belə ağaclardan küsüb inciyirlər...Belə havalarda pişiklər belə insanların ayağına qısılaraq isti qucaq axtarırlar.
<br>
<br>
    Bax beləcə, payız bizə qonaq gəlir... 
<br>
<br>
    Belə nisgil dolu havada adama yalnız təbiəti seyr edə biləcəyi geniş bir pəncərə önü,bir fincan isti qəhvə və oxumaqdan həzz alacağı bir kitab yetərlidir.Alırsan əlinə kitabını və bütün dünyadan,şəhərin səs-küyündən,yağışından-küləyindən "gizlənirsən". 

</p>
<br>
<br>
<div class="form">
    <a href='#'>
        <button class="form">
            Kitabları kəşf et
        </button>
    </a>
</div>
</div>
</div>
</div>

<div class="Kitablar-name">
<br>
<h2>KİTABLAR</h2>
</div>
<br>
<div class="Kitablar">
    <div class="box-books">
        <div class="book-1">
            <img src="../assets/images/Inkognito.png" style="width: 130px; height: 200px;" >
            <br>
            <br>
            Inkognito 1
            <br>
            <a href="./Product.html" target="blank" style="color: #0000EE;">Ətraflı</a>
        </div>
        <div class="book-2">
            <img src="../assets/images/Inkognito.png" style="width: 130px; height: 200px;" >
            <br>
            <br>
            Inkognito 2
            <br>
            <a href="./Product.html" target="blank" style="color: #0000EE;">Ətraflı</a>
          </div>
        <div class="book-3">
            <img src="../assets/images/Inkognito.png" style="width: 130px; height: 200px;" >
            <br>
            <br>
            Inkognito 3
            <br>
            <a href="./Product.html" target="blank" style="color: #0000EE;">Ətraflı</a>
        </div>
        <div class="book-4">
            <img src="../assets/images/Inkognito.png" style="width: 130px; height: 200px;" >
            <br>
            <br>
            Inkognito 4
            <br>
            <a href="./Product.html" target="blank" style="color: #0000EE;">Ətraflı</a>
        </div>
        <div class="book-5">
            <img src="../assets/images/Inkognito.png" style="width: 130px; height: 200px;" >
            <br>
            <br>
            Inkognito 5
            <br>
            <a href="./Product.html" target="blank" style="color: #0000EE;">Ətraflı</a>
        </div>
        <div class="book-6">
            <img src="../assets/images/Inkognito.png" style="width: 130px; height: 200px;" >
            <br>
            <br>
            Inkognito 6
            <br>
            <a href="./Product.html" target="blank" style="color: #0000EE;"> Ətraflı</a>
        </div>
        <div class="book-7">
            <img src="../assets/images/Inkognito.png" style="width: 130px; height: 200px;" >
            <br>
            <br>
            Inkognito 7
            <br>
            <a href="./Product.html" target="blank" style="color: #0000EE;"> Ətraflı</a>
        </div>
        <div class="book-8">
            <img src="../assets/images/Inkognito.png" style="width: 130px; height: 200px;" >
            <br>
            <br>
            Inkognito 8
            <br>
            <a href="./Product.html" target="blank" style="color: #0000EE;">Ətraflı</a>
        </div>
        <div class="book-9">
            <img src="../assets/images/Inkognito.png" style="width: 130px; height: 200px;" >
            <br>
            <br>
            Inkognito 9
            <br>
            <a href="./Product.html" target="blank" style="color: #0000EE;">Ətraflı</a>
        </div>
        
      </div>
</div>


<div class="social_media">
    <ul >
        <li class="icon"><a href="#"><i class="fab fa-facebook"></i></a></li>
        <li class="icon"><a href="#"><i class="fab fa-youtube"></i></a></li>
        <li class="icon"><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li class="icon"><a href="#"><i class="fab fa-linkedin"></i></a></li>
        <li class="icon"><a href="#"><i class="fab fa-google"></i></a></li>
        <li class="icon" id="angle">
          <a href="#"><i class="fas fa-angle-double-up"></i></a>
        </li>
    </ul>
  </div>


<div class="footer">
    <br>
    <p>2020 © Bütün haqlar qorunur.</p>
  </div>

</body>
</html>