<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New_Page</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-info">
        <div class="container" >
          <div class="col d-flex justify-content-around  ">
        <h2 class="navbar-brand " style="color: white;">KİTAB MAĞAZASI</h2>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-around " id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" >Ana səhifə</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Haqqımızda</a>
          </li>			
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Kateqoriyalar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ayın kitabı</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            İstifadəçi
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
          </ul>		  
        </div>
        </div>
        </div>
      </nav>
      <div class="container-fluid" style="background: url(../assets/images/calculate.jpg); background-size: cover;  height: 100vh">
       
      </div>


     <script async src="New_Page.js"></script> 
   <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>